
<div class="container">
<div class="row">

<div class="col-md-8">
  <h1>Tasks</h1>
</div>

<div class="col-md-4_taskbtn">
  <p>
  <button type="button" class="btn btn-primary">
    <%= link_to 'Create Task', new_task_path %>
  </button>
</p>
</div>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
        <th>Description</th>
      <th colspan="3">
      </th>
    </tr>
  </thead>


  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>

        <td class="taskbtn_pull-right">
          <button type="button" class="btn btn-default">
            <%= link_to 'Show', task %>
             </button>
              </td>
               </div>
        <td class="taskbtn_pull-right">
          <button type="button" class="btn btn-default">
            <%= link_to 'Edit', edit_task_path(task) %>
             </button>
              </td>
               </div>
        <td class="taskbtn_pull-right">
          <button type="button" class="btn btn-danger">
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
             </button>
              </td>
               </div>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>
</div>
