
  <div class="container">
    <div class = "page-header">

        <div class="pull-right">
          <%= link_to_if params[:type] != "all", "All", project_tasks_path(type: "all") %> |
          <%= link_to_if params[:type] == "all", "Incomplete", project_tasks_path(type: "incomplete") %>
          <%= link_to 'New Task', new_project_task_path(project_id: @project.id), class: 'btn btn-info' %>
        </div>

        <h3>Tasks for <%= @project.name %></h3>
    </div>

    <ol class="breadcrumb">
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to @project.name, project_path(@project) %> </li>
      <li class="active">Tasks</li>
    </ol>


    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Description</th>
          <th>Complete</th>
          <th>Due</th>
          <th colspan="3">
          </th>
        </tr>
      </thead>

      <tbody>
       <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.description, project_task_path(@project, task) %>

            <span class="badge"><%= task.comments.count %></span></td>
          <td><%= task.complete %></td>
          <td><%= task.due_date.try(:strftime, "%m/%d/%Y") %></td>



          <td width="30px">
            <%= link_to 'Edit', edit_project_task_path(@project, task), class: 'btn btn-info pull-right' %>
          </td>

          <td width="30px">
            <%= link_to '', project_task_path(@project, task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-remove' %>
          </td>
        </tr>

      <% end %>
      </tbody>
    </table>
 </div>
