<div class="container">
  <% if notice %>
  <div class="alert alert-success" role="alert">
  <p id="notice"><%= notice %></p>
  </div>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>


<p>
  <strong>Completed:</strong>
  <%= @task.complete %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @task.due_date.try(:strftime, "%m/%d/%Y") %>
</p>



<%= link_to 'Edit', edit_project_task_path(@task, @project) %> |
<%= link_to 'Back', project_tasks_path %>

</div>
