<div class = "container">


  <h3>New User</h3>
  <%= form_for(@user, :html => { class: 'form-horizontal'}) do |f| %>

<% if @user.errors.present? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>

        <li class="text-danger"><%= message %></li>

    <% end %>
  </ul>
<% end %>

    <div class = "form-group">
        <%= f.label :first_name, class: "col-sm-3 control-label" %>
    <div class = "col-sm-9">
        <%= f.text_field :first_name %>
    </div>
    </div>


  <div class = "form-group">
    <%= f.label :last_name, class: "col-sm-3 control-label" %>
  <div class = "col-sm-9">
    <%= f.text_field :last_name %>
  </div>
  </div>


  <div class = "form-group">
    <%= f.label :email, class: "col-sm-3 control-label" %>
  <div class = "col-sm-9">
    <%= f.text_field :email %>
  </div>
  </div>

  <div class = "form-group">
    <%= f.label :password, class: "col-sm-3 control-label" %>
  <div class = "col-sm-9">
    <%= f.password_field :password %>
  </div>
  </div>

  <div class = "form-group">
    <%= f.label :password_confirmation, class: "col-sm-3 control-label" %>
  <div class = "col-sm-9">
    <%= f.password_field :password_confirmation %>
  </div>
  </div>


  <div class = "actions">
  <div class = "col-sm-offset-3 col-sm-9">
  <%= f.submit "Create User", class: 'btn btn-primary' %>
  </div>
  </div>

  <% end %>
</div>
