<div class="container">
  <div class="about_us">

      <h1>About</h1>

      <br><br>

      <div class="row">
        <div class = "col-md-4">
          <%= image_tag "80s_floppydisk.jpg", width: 350, height: 316 %>
        </div>

            <div class ="col-md-8">

              <p>Get organized and increase productivity with your team.<p>

              <p>We are dedicated to the makers, the creators, the risk-takers. We wake up in the middle of the night and furiously write down ideas about how to make your online life better.</p>

              <p>When we're not hard at work, we're hard at play - we're the loud ones in the bar, and we're always the ones shutting the place down.
                 Human communication and collaboration is what drives us, and it infuses every feature of gCamp.</p>
            </div>
      </div>

              <br>
                <p>gCamp is extremely active. Check out our killer stats below! </p>
                <strong>
                  <%= "#{pluralize(Project.all.count, 'Project')}" %>,
                  <%= "#{pluralize(Task.all.count, 'Task')}" %>,
                  <%= "#{pluralize(Membership.all.count, 'Project Members')}" %>,
                  <%= "#{pluralize(User.all.count, 'User')}" %>,
                  <%= "#{pluralize(Comment.all.count, 'Comment')}" %> 
                </strong>
  </div>
              <br><hr>
</div>
