<div class = "container">
  <div class = "page-header">
      <div class="pull-right">
        <div class = "pull-right">
          <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-info'  %>
        </div>
      </div>

      <h2><%= @project.name %></h2>

  </div>

    <ol class="breadcrumb">
      <li><%= link_to "Projects", projects_path %></li>
      <li class="active">Tasks</li>
    </ol>

    <%= link_to "#{pluralize(@project.tasks.count, 'Task')}", project_tasks_path(@project) %><br><br>
    <%= link_to "#{pluralize(@project.memberships.count, 'Membership')}", project_memberships_path(@project) %><br><br>
<div class="well">
  <strong><p>Delete Project</p></strong><br>
  <p>Deleting this project will also delete <%= @project.memberships.count %>, memberships, <%= @project.tasks.count %> tasks and associated comments.</p><br>
    <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>
</div>
